<div class="input-group" *ngIf="!gameInitiated">
  <div class="form-group col-lg-3 col-sm-8">
    <label for="gameName" class="game-name-label">Enter game name</label>
    <input id="gameName" [(ngModel)]="gameName" class="form-control game-name-input" placeholder="Game name">
  </div>
  <span class="input-group-btn">
    <button (click)="addGame()" class="btn btn-primary btn-lg game-name-button">Enter CIV journey</button>
  </span>
</div>
<div *ngIf="gameInitiated">
  <h4 class="display-4">Welcome to game {{gameName}}</h4>
  <div *ngIf="!playersAdded">
    <app-players (onAddPlayers)="addPlayers($event)"></app-players>
  </div>
  <div *ngIf="playersAdded">
    <app-player-display [players]="players"></app-player-display>
  </div>
</div>