<div *ngIf="currentPlayersTurn">
  <h1>Your turn</h1>
  <button class="btn btn-primary btn-lg btn-block">Finish turn</button>
</div>

<dl class="row" *ngIf="state">
  <dt class="col-sm-3">Turn</dt>
  <dd class="col-sm-9">{{state.turn}}</dd>
  <dt class="col-sm-3">Phase</dt>
  <dd class="col-sm-9">{{state.phase}}</dd>
  <dt class="col-sm-3">Current player</dt>
  <dd class="col-sm-9">{{state.currentPlayer}}</dd>
  <dt class="col-sm-3">Time elapsed</dt>
  <dd class="col-sm-9">{{state.timeElapsedInMilliseconds | date: 'mm:ss'}}</dd>
</dl>