<div class="input-group" *ngIf="!gameInitiated">
  <div class="form-group col-lg-3 col-sm-8">
    <label for="gameName" class="game-name-label">Enter game name</label>
    <input id="gameName" ng-model="gameName" class="form-control game-name-input" placeholder="Game name">
  </div>
  <span class="input-group-btn">
    <button (click)="addGame()" class="btn btn-primary btn-lg game-name-button">Enter CIV journey</button>
  </span>
</div>
<div *ngIf="gameInitiated">
  <h4 class="display-4">Welcome to {{gameName}}</h4>
  <app-players [players]="players"></app-players>
  <button class="btn btn-success btn-lg btn-block form-control" [hidden]="players.length === 0">Select players</button>
</div>